MODE=

CSRF_TRUSTED_ORIGINS=

SKYPE_USERNAME=
SKYPE_PASSWORD=
SURVEILLANCE_SKYPE_ID=
QUANTUMBOT_SKYPE_ID=
WKHTMLTOPDF_PATH=

CRM_DATABASE_ENGINE=
CRM_DATABASE_CONN_MAX_AGE=
CRM_DATABASE_NAME=
CRM_DATABASE_USER=
CRM_DATABASE_PASSWORD=
CRM_DATABASE_HOST=
CRM_DATABASE_PORT=
CRM_DATABASE_SQL_MODE=

ZK_TECO_DATABASE_ENGINE=
ZK_TECO_DATABASE_NAME=
ZK_TECO_DATABASE_USER=
ZK_TECO_DATABASE_PASSWORD=
ZK_TECO_DATABASE_HOST=
ZK_TECO_DATABASE_PORT=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=